.contact_me {
    position: relative;
    padding: 50px;
}

.contact_me_title {
    font-family: 'Raleway';
    font-size: 80px;
    text-transform: uppercase;
    color: var(--quinary-color);
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    transition: transform .8s ease-out;
    opacity: .9;
}

/* Media Queries */

@media (max-width: 768px) {

    .contact_me_title {
        font-size: 2.1rem;
    }
    .contact_me {
        padding: 20px;
    }
}

@media (max-width: 426px) {

    .contact_me_title {
        font-size: 1.9rem;
    }
}