.footer {
    background-color: var(--secondary-color);
}

.footer_main_content {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 70px;
}

.footer_logo_wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    fill: var(--primary-color);
    width: 100px;
}

.footer_right {
    width: 70%;
    height: 100%;
}

.footer_right_nav {
    height: 50%;
    border-bottom: 1px solid var(--senary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer_right_socials {
    height: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.socials_icon > img {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    background-color: white;
    border-radius: 6px;
}

.footer_signature {
    color: var(--quarternary-color);
}

@media (max-width: 500px) {

    .footer_main_content {
        padding: 10px;
    }

    .footer_right {
        width: 50%;
    }

    .footer_right_nav {
        flex-direction: column;
    }

    .footer_logo_wrapper {
        width: 50%;
    }

    .footer_right_socials {
        padding-right: 5px;
        gap: 5px;
        justify-content: center;
    }
}