@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-primary: #53b5c4;
  --light-secondary: #000000;
  --light-ternary: #000000;
  --light-quarternary: #FFFFFF;
  --light-quinary: #287c65;
  --light-senary: #654d28;

  --dark-primary: #285d65;
  --dark-secondary: #4eb4c4;
  --dark-ternary: #cae0fa;;
  --dark-quarternary: #1e454b;
  --dark-quinary: #287c65;
  --dark-senary: #654d28;
}

body[data-theme="light"] {
  --primary-color: var(--light-primary);
  --secondary-color: var(--light-secondary);
  --ternary-color: var(--light-ternary);
  --quarternary-color: var(--light-quarternary);
  --quinary-color: var(--light-quinary);
  --senary-color: var(--light-senary);
}

body[data-theme="dark"] {
  --primary-color: var(--dark-primary);
  --secondary-color: var(--dark-secondary);
  --ternary-color: var(--dark-ternary);
  --quarternary-color: var(--dark-quarternary);
  --quinary-color: var(--dark-quinary);
  --senary-color: var(--dark-senary);
}

body {
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

a, a:hover, a:active, a:visited {
  color: var(--ternary-color);
  text-decoration: none;
}