@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@800&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Quicksand';
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color palettes */
/* 
  What these are used for:
  --primary-color: Primary background color
  --secondary-color: Secondary background color
  --ternary-color: Accent color
  --quarternary-color: Texts color
  --quinary-color: Titles color
  --senary-color: Links color */

  --light-primary: #94c4bc; 
  --light-secondary: #cfe6e3;
  --light-ternary: #723642;
  --light-quarternary: #333333; 
  --light-quinary: #3e387f;
  --light-senary:  #3e387f;

  --dark-primary: #285d65;
  --dark-secondary: #436e75;
  --dark-ternary: #E6C7D7;
  --dark-quarternary: #cfe6e3;
  --dark-quinary: #e8a098; 
  --dark-senary: #b6fff3;
}

body[data-theme="light"] {
  --primary-color: var(--light-primary);
  --secondary-color: var(--light-secondary);
  --ternary-color: var(--light-ternary);
  --quarternary-color: var(--light-quarternary);
  --quinary-color: var(--light-quinary);
  --senary-color: var(--light-senary);
}

body[data-theme="dark"] {
  --primary-color: var(--dark-primary);
  --secondary-color: var(--dark-secondary);
  --ternary-color: var(--dark-ternary);
  --quarternary-color: var(--dark-quarternary);
  --quinary-color: var(--dark-quinary);
  --senary-color: var(--dark-senary);
}

body {
  overflow-x: hidden;
  background-color: var(--primary-color);
  transition: background-color .3s ease;
  margin: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

a, a:hover, a:active, a:visited {
  color: var(--senary-color);
  text-decoration: none;
}