.project_infos_wrapper {
    position: fixed;
    top: 0;
    left: 40px;
    height: 100vh;
    width: calc(30% - 40px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: var(--ternary-color);
}

.project_infos_icon {
    width: 50px;
    height: 50px;
}

.project_infos_icon>img,
.project_infos_icon>svg {
    width: 40px;
    height: 40px;
}

.project_infos_description {
    max-height: 50vh;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* animations */
.opening {
    animation-name: fade_slide_in_right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.closing {
    animation-name: fade_slide_out_left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes fade_slide_in_right {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade_slide_out_left {

    from {
        transform: translateX(0px);
        opacity: 1;
    }

    to {
        transform: translateX(-50px);
        opacity: 0;
    }
}

/* Media Queries */

@media (max-width: 768px) {

    .project_infos_wrapper {
        display: none;
    }

}