.projects_gallery {
    position: relative;
    min-height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hook {
    height: 100px;
    width: 100px
}

.projects_gallery_title {
    font-family: 'Raleway';
    font-size: 90px;
    text-transform: uppercase;
    color: var(--quinary-color);
    position: absolute;
    top: 100px;
    z-index: 1000;
    transition: transform .8s ease-out;
    opacity: .9;
    white-space: nowrap;
}

.projects_gallery_divider {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.project_infos_background {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

.projects_gallery_previews {
    position: relative;
    padding-top: 50vh;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 70vh;
    gap: 50vh;
    padding-bottom: 50vh;
}

.projects_gallery_classic {
    display: none;
}

.load_more_button {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--senary-color);
    width: 150px;
    height: 50px;
    bottom: 150px;
    left: calc(50% - 75px);
    transition: transform .3s ease, box-shadow .3s ease;
    border: none;
}

.load_more_button:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Media Queries */

@media (max-width: 1024px) {
    .projects_gallery_title {
        font-size: 4rem;
        right: 10px;
    }
}

@media (max-width: 768px) {
    .projects_gallery_title {
        font-size: 2.1rem;
        right: 0px;
    }

    .projects_gallery_divider {
        display: none;
    }

    .projects_gallery_classic {
        padding: 100px  40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        gap: 20px;
    }

    .load_more_button {
        bottom: 20px;
        left: calc(50% - 75px);
    }
}

@media (max-width: 600px) {

    .projects_gallery_classic {
        grid-template-columns: repeat(1, 1fr);
    }
}