/* Gallery */

.skills_gallery {
    padding: 10vh 10vw;
}

.skills_gallery_cards {
    position: relative;
    height: 500px;
}

/* Folder */
.folder {
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 75px);
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
    height: 155px;
    width: 125px;
    padding: 10px;
    gap: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.folder > h2 {
    font-size: 1.1rem;
    color: rgb(196, 196, 196);
}

.folder:hover {
    cursor: pointer;
    transform: scale(1.07) rotate(5deg);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.folder>p {
    color: white;
}

/* Cards */

.card {
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 75px);
    background-color: rgb(75, 75, 75);
    border: 5px solid white;
    border-radius: 10px;
    height: 150px;
    width: 120px;
    padding: 10px;
    gap: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(0.9);
}

.card1 {
    animation-name: exit_card1;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: .15s;
}

.card2 {
    animation-name: exit_card2;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.card3 {
    animation-name: exit_card3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: .1s;
}

@keyframes exit_card1 {
    0% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(150vw, 150vh) rotate(18000deg);
    }
}

@keyframes exit_card2 {
    0% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(-150vw, -50vh) rotate(18000deg);
    }
}

@keyframes exit_card3 {
    0% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(150vw, -50vh) rotate(18000deg);
    }
}

/* Media Queries */

@media (max-width: 768px) {
    .skills_gallery_cards {
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .folder {
        display: none;
    }

    .card {
        display: none;
    }
}

@media (max-width: 426px) {
    .skills_gallery_cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px
    }
}